body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#2a38cf,#6a5cff);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    border-radius:20px;
    width:350px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:12px;
}

input,textarea{
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2a38cf;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#6a5cff;
}
