* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}


nav {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  background: linear-gradient(to right, #1e90ff, #00bfff);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: white;
  color: #1e90ff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.services {
  padding: 50px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact {
  background: white;
  margin: 30px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
