* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
element.style {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;         
}
element.style {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}